.custom-grid{
    display: grid;
    grid-template-columns: 15% 83%;
    gap: 2%;
}
@media screen and (max-width: 1280px) {
    .custom-grid{
        grid-template-columns: 25% 70%;
        gap: 5%;
    }
}
@media screen and (max-width: 768px) {
    .custom-grid{
        grid-template-columns: 1fr;
        gap: 1%;
    }
}